.content{
    width: 940px;
    height: 280px;
    background: #fff;
    margin: 0 auto;
    margin-top: 65px;
}

.text{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{
    width: 80%;
    height: 75px;
    border-radius: 5px;
    background: #E4E4E4;
    color: rgba(0, 0, 0, 0.50);
    border: none;
    padding: 0px 10px 0px 10px;
    outline: none;
    text-align: center;
}
.submit{
    margin-top: 20px;
    width: 50%;
    height: 75px;
    border-radius: 10px;
    background: #084A16;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    border: none;
}
