.content{
    display: grid;
    grid-template-rows: 300px 1fr;
    width: 90%;
    margin: 0 auto;
}

.profile{
    display: flex;
    margin-top: 20px;
}
.userInfo{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
}
.username{
    font-size: 28px;
}
.email{
    margin-top: 10px;
    font-size: 12px;
}

.settings{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.logout{
    margin-left: 20px;
}

.logout img{
    display: flex;
    cursor: pointer;
    fill: #a44646;
}

.userCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userCard h1{
    font-family: E-Ukraine-Head;
    font-size: 30px;
    font-weight: 200;
}

.avatar{
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.avatarUploader{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;

}

.imageBlock{
    width: 256px;
    height: 256px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
}
