body {
    margin: 0;
    background: #E4E4E4;
}

.logo {
    color: #084A16;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 100px;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 100px;
    background-color: #fff;
    overflow: visible;
}



/*button,input{
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}*/