body {
    margin: 0;
    background: #E4E4E4;
}

.logo {
    color: #084A16;
    text-align: center;
    font-family: E-Ukraine-Logo;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 100px;
    width: 400px;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 100px;
    background-color: #fff;
    overflow: visible;
}

.list{
    font-weight: 400;
    margin-left: 40px;
}

nav a{
    color: #000;
    margin-left: 20px;
}
nav a:hover{
    color: #084A16;
}
.iconsBlock{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 100px;
}
.iconsBlock div{
    margin: 0px 20px 0px 20px;
}
.socialNetworks img{
    margin: 0px 5px 0px 5px;
}

@media (max-width: 1440px) {
    .rectangle {
        width: 1440px;
    }
    .logo {
        margin-left: 100px;
        font-size: 46px;
    }
}
