/****E-Ukraine font****/
@font-face {
    font-family: 'E-Ukraine';
    src: url('./fonts/e-Ukraine/e-Ukraine-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine';
    src: url('./fonts/e-Ukraine/e-Ukraine-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine';
    src: url('./fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine';
    src: url('./fonts/e-Ukraine/e-Ukraine-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine';
    src: url('./fonts/e-Ukraine/e-Ukraine-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine';
    src: url('./fonts/e-Ukraine/e-Ukraine-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

/****E-Ukraine Head font****/
@font-face {
    font-family: 'E-Ukraine-Head';
    src: url('./fonts/e-Ukraine-Head/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine-Head';
    src: url('./fonts/e-Ukraine-Head/e-UkraineHead-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine-Head';
    src: url('./fonts/e-Ukraine-Head/e-UkraineHead-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine-Head';
    src: url('./fonts/e-Ukraine-Head/e-UkraineHead-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine-Head';
    src: url('./fonts/e-Ukraine-Head/e-UkraineHead-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'E-Ukraine-Head';
    src: url('./fonts/e-Ukraine-Head/e-UkraineHead-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

/****E-Ukraine Logo font****/
@font-face {
    font-family: 'E-Ukraine-Logo';
    src: url('./fonts/e-Ukraine-Head/e-UkraineHead-LOGO.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


/*Style*/
*{
    margin: 0;
    padding: 0;
    font-family: E-Ukraine;
    font-size: 16px;

}
body{
    background:#f0f5f2;

}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
