.content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.ForgBlock{
    margin-top: 50px;
    align-items: center;
    background-color: #fff;
    width: 960px;
    height: 350px;
    border-radius: 10px;
    
    
}

.content input{
    width: 80%;
    height: 75px;
    border-radius: 5px;
    background: #E4E4E4;
    color: rgba(0, 0, 0, 0.50);
    border: none;
    padding: 0px 10px 0px 10px;
    outline: none;
}

.form{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorForm{
    color:lightcoral;
    font-weight: 100;
    font-family: E-Ukraine;
    font-size: 50px;
}

.loginBtn{
    margin-top: 40px;
    width: 50%;
    height: 75px;
    border-radius: 10px;
    background: #084A16;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}



